body{
	background:black;
    color: #ffffff;
    font-family: "Josefin Slab";
}
div.panel-body{
	color: #000000;
}
footer{
	color:#ffffff;
}
a{
	color: yellow;
	text-decoration: underline;
	font-weight: 700;
}
a:hover{
	color: orange;
}